<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="Description"
      content="Awesome County High School Directory of faculty and staff."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- meta tags with og below -->
    <meta property="og:title" content="ACHS Directory" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Awesome County High School Directory of faculty and staff."
    />
    <meta property="og:url" content="<%- BASE_URL %>" />
    <meta property="og:image" content="<%- BASE_URL %>/favicon-512x512.png" />
    <meta
      property="og:image:secure_url"
      content="<%- BASE_URL %>/favicon-512x512.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta
      property="og:image:alt"
      content="Logo for Awesome County High School."
    />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <!-- add link tags below -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000" />
    <link rel="manifest" href="/manifest.json" />
    <title>ACHS Directory</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
