.SkeletonCardDetails {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  height: 210px;
  width: 170px;
  padding: 0px;
  margin: 20px;
  background-color: var(--surface-card);
  align-items: center;
  cursor: pointer;
}
