#parentOfEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  background-color: lightgray;
  padding-bottom: 40px;
}
.subDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lastnameFind {
  margin: 10px;
  height: 24px;
}
#firstnameFind {
  margin: 10px;
  height: 24px;
}
#lastnameFindBtn {
  margin: 10px;
}
#firstnameFindBtn {
  margin: 10px;
}
#bothFindBtn {
  margin: 10px;
}

.customEditMessage {
  margin-bottom: 20px;
}

.customEditTable {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 0.5fr 3fr;
  overflow: hidden;
  grid-column-gap: 20px;
  width: calc(100vw - 10vw);
  background-color: lightgray;
}

.customEditTableCol1 {
  padding: 4px;
}
.customEditTableCol2Split {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  text-align: left;
  grid-column-gap: 20px;
  border-left: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tableCol2-1 {
  width: 100%;
}

.formClass {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 8px;
  border-left: 1px solid black;
  padding: 10px;
  margin: auto;
}

.customEditInput {
  width: 100%;
}
