.CardDetails {
	display: inline-flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 25px;
	height: 190px;
	width: 170px;
	padding: 4px;
	margin: 20px;
	background-color: black;
	align-items: center;
}
.imgContainer {
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 133px;
	width: 170px;
	background-color: transparent;
	margin-bottom: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 3000px;
}
.textContainer {
	display: flex;
	flex-direction: column;
	color: white;
	font-family: Comic Sans MS, Arial, sans, sans-serif;
	justify-content: center;
	align-items: center;
	height: 38px;
	width: 170px;
	white-space: nowrap;
	margin: 4px 0px 8px 0px;
	padding: 0px;
}
.subjectTitle {
  color: #808080;
  font-size: 16px;
  margin: -4px 0px -2px 0px;
  padding: 0px;
}
.phoneTitle {
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}
.emailTitle {
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin: -4px 0px 0px 4px;
  padding: 0px;
}
 /*This container is needed to position the front and back side */
.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}
 /*Do an horizontal flip when you move the mouse over the flip box container */
.imgContainer:hover .flip-card-inner {
  transition: transform 0.8s;
  transform: rotateY(180deg);
}
 /*Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

 /*Style the front side (fallback if image is missing) */
.flip-card-front {
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 100%;
	width: 100%;
	background-color: #808080;
}
.imgRounded {
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 100%;
	width: 100%;
	background-color: #808080;
}
 /*Style the back side */
.flip-card-back {
  	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 100%;
	width: 100%;
	background-color: #808080;
	transition: transform 0.4s;
  	transform: rotateY(180deg);
}

.buttonStyle2 {
	background-color: transparent;
	border: none;
	outline: none;
}

.growCard { transition: all .2s ease-in-out; }
.growCard:hover { transform: scale(1.1);}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.textContainer .divtry {
	visibility: hidden;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	height: 60px;
	width: 170px;
	background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
	color: #fff; 
	margin-bottom: -20px;
	position: absolute;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.textContainer:hover .divtry {
	visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  height: 50%;
  width: 30%;
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  white-space: normal;
  z-index: 1;
  top: 0px;
  left: 90%;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent gold transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media screen and (max-width: 500px) {
	.CardDetails {
		border-radius: 15px;
		height: 110px;
		width: 90px;
		margin: 6px;
		padding: 3px;
	}
	.imgContainer {
		height: 77px;
		width: 90px;
		margin-bottom: 5px;
	}
	.textContainer {
		height: 22px;
		margin-top: 2px;
		margin-bottom: 6px;
	}
	.subjectTitle {
	  font-size: 8px;
	  margin: 0px;
	}
	.phoneTitle {
	  font-size: 8px;
	}
	.emailTitle {
	  font-size: 8px;
	  margin: -2px 0px 0px 0px;

	}
	.flip-card-front {
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}
	.imgRounded {
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}
	 /*Style the back side */
	.flip-card-back {
	  	border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}
	.textContainer .divtry {
		display: none;
	}
}