.CardDetails {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  height: 210px;
  width: 170px;
  padding: 0px;
  margin: 20px;
  background-color: black;
  align-items: center;
  cursor: pointer;
}

.imgContainer {
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  height: 133px;
  width: 170px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 170px;
  white-space: nowrap;
  margin: 8px 0px 8px 0px;
  padding: 0px;
  cursor: pointer;
}

.subjectTitle {
  color: #808080;
  font-size: 16px;
  margin: 4px 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.phoneTitle {
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.emailTitle {
  color: white;
  font-size: 16px;
  white-space: nowrap;
  margin: 4px 0;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.imgRounded {
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  height: 100%;
  width: 100%;
  background-color: #808080;
}

.growCard2 {
  transition: all 0.2s ease-in-out;
}
.growCard2:hover {
  transform: scale(1.1);
}

.AboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff69b4;
  text-align: center;
  max-width: 600px;
  margin: auto;
  line-height: 32px;
}

@media screen and (max-width: 900px) {
  .growCard2 {
    transition: none;
  }
  .growCard2:hover {
    transform: none;
  }
}

@media screen and (max-width: 500px) {
  .listParent {
    margin: 0px 40px 0px 0px;
  }

  .AboutCard {
    max-width: 100%;
  }
}
