.toggle-div-2-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.toggle-div-2 {
  display: flex;
  position: relative;
  width: 50px;
  height: 24px;
  background-color: gray;
  border-radius: 22px;
  align-items: center;
  transition: all 0.5s ease-out;
}

.slider {
  display: flex;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  left: 4px;
  transition: all 0.5s ease-out;
}

.round-parent {
  background-color: #74b9ff;
}

.round {
  transform: translateX(24px);
}

.switchLabel22 {
  display: flex;
  justify-content: center;
  color: hotpink;
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  font-size: 1rem;
}
